  <% @posts.each do |post| %>
          <div class="card-body bg-white" style="width: 40rem;">
          <p class="card-text my-text text-left"><%= link_to post.user.username, user_path(post.user) %></p>
            <p class="card-text text-left"><%= post.name %></p>
            <p class="card-text text-center"><%= image_tag(post.picture.url, size: "570x300") if post.picture? %></p>
            <%= link_to 'View', post_path(post), class: "btn btn-outline-info px-4" %>
            <% if logged_in? && post.user == current_user %>
              <%= link_to 'Edit', edit_post_path(post), class: "btn btn-outline-primary px-4" %>
              <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: "Are you sure?" },
              class: "btn btn-outline-danger px-4" %>
            <% end %>
          </div>
          <div class="card-footer text-muted bg-white" style="width: 40rem;">
            <small>Created <%= time_ago_in_words(post.created_at) %> ago,
            edited <%= time_ago_in_words(post.updated_at) %> ago</small>
          </div>
  <% end %>